html,
body {
  height: 100%;
  color: #333333;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 2em;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
#nav {
  width: 200px;
  background: #333333;
  color: #ffffff;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
#nav li a {
  font-family: Helvetica, Arial, "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-size: 17px;
  color: #ffffff;
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  border-top: 1px solid #4d4d4d;
  border-bottom: 1px solid #1a1a1a;
}
#nav li a:hover {
  background: #f49484;
}
#mobile-nav {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 40px;
  line-height: 40px;
  background: #333333;
  padding: 0px 15px;
  color: #FFF;
  z-index: 999;
  padding: 0;
}
#mobile-nav #show-nav {
  background: #000;
  float: left;
  padding: 0px 15px;
  margin: 0;
}
.little-nav {
  border-bottom: 1px solid #ccc;
}
.little-nav a {
  font-family: Helvetica, Arial, "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
  text-decoration: none;
  display: block;
  float: left;
  color: #333333;
  margin-right: 20px;
  font-size: 15px;
  border-bottom: 2px solid #fff;
  padding: 15px 0px;
}
.little-nav a:hover {
  border-bottom: 2px solid #ccc;
}
#main-content {
  padding-left: 200px;
}
#main-content .list {
  font-size: 17px;
}
#main-content .list .item {
  padding: 15px 0px;
  border-bottom: 5px dashed #ddd;
  color: #888;
}
#main-content .list .item .title {
  font-size: 22px;
  color: #333;
}
#main-content .list .item .title a {
  color: #333;
  text-decoration: none;
}
#main-content .list .item .title a:hover {
  text-decoration: underline;
}
#main-content .list .tags a {
  font-family: Helvetica, Arial, "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 10px;
}
#main-content .list .tags a:hover {
  background: #f0f0f0;
}
#main-content #hot7-posts {
  display: none;
}
#sidebar {
  padding-left: 15px;
  padding-right: 15px;
}
#sidebar .item .title {
  font-size: 20px;
  border-bottom: 1px dashed #ccc;
  padding: 5px 0px;
}
#sidebar .item .content {
  background: #f0f0f0;
}
#sidebar .item a {
  display: block;
  text-decoration: none;
  color: #555;
  padding: 5px 0px;
  text-indent: 1em;
}
#sidebar .item a:hover {
  background: #e0e0e0;
}
#single .title {
  text-align: center;
  padding: 15px 0px;
}
#single .title a {
  font-family: Helvetica, Arial, "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-size: 26px;
  color: #333;
  text-decoration: none;
}
/**
 * 针对平板
*/
@media (max-width: 991px) {
  #nav {
    left: -200px;
    transition: left 0.5s;
    -moz-transition: left 0.5s;
    /* Firefox 4 */
    -webkit-transition: left 0.5s;
    /* Safari 和 Chrome */
    -o-transition: left 0.5s;
    /* Opera */
    z-index: 999;
  }
  #main-content {
    padding-left: 0px;
    padding-top: 50px;
  }
  #sidebar {
    display: none;
    margin-left: 8%;
  }
}
